@import "../components/variables";

.filter__container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.filter__name {
  background-color: $colorLight;
  border: solid 4px $colorPink;
  width: 300px;
  height: 30px;
  color: $colorDarkCyan;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 3px 15px;
  border-radius: 3px;
}
