@import "../components/variables";

.poke {
  background-color: $colorDarkCyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-link {
      color: $colorLight;
      background-color: $colorPink;
      border-radius: 12px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
      text-decoration: none;
      left: 0;
      margin-left: 30px;
      position: absolute;
    }
  }
  &__logo {
    height: 150px;
  }
  //   &__wrap {
  //     display: flex;
  //     width: 70%;
  //   }
  &__card {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.192);
    padding: 0 50px 50px 30px;
    width: 450px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      color: $colorLight;
      font-size: 22px;
    }
  }
  &__types {
    display: flex;
    &-item {
      list-style: none;
    }
  }
  &__select-lang {
    background: transparent;
    border: none;
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px $colorPink;
    border-radius: 12px;
    background-color: white;
    padding: 5px;
    width: 20%;
    .on {
      //color: $colorDarkCyan;
      color: #0f798b;
    }
    .space {
      margin: 0 5px;
      color: $colorDarkCyan;
    }
    .off {
      color: rgb(163, 173, 177);
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px $colorLight;
    padding: 10px;
    width: 100%;
    &-img {
      height: 30vh;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      p {
        font-size: 11px;
        margin: 5px 0 0 0;
      }
    }
  }
  &__abilities {
    padding: 0;
    &-title {
      font-size: 12px;
    }
    &-text {
      // background-color: turquoise;
      height: 70px;
    }
    &-item {
      list-style: none;
    }
    &-btn {
      border: solid 1px $colorPink;
      background-color: transparent;
      padding: 5px 10px;
      border-radius: 12px;
      cursor: pointer;
      margin: 5px 0;
      text-transform: uppercase;
      color: $colorPink;
    }

    &-btn-active {
      border: none;
      background-color: $colorPink;
      padding: 5px 10px;
      border-radius: 12px;
      cursor: pointer;
      margin: 5px 0;
      text-transform: uppercase;
      color: $colorLight;
    }
  }
  &__preview {
    display: flex;
    width: 100%;
    &-img {
      background-color: $colorLight;
      width: 60px;
      z-index: 1;
      border: solid 2px $colorPink;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin: 0 5px;
    }
    &-id {
      font-size: 12px;
      margin: 0 5px 0 0;
      font-weight: bold;
      align-self: flex-end;
    }
  }
}

.none {
  display: none;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
