.filter__container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.filter__name {
  background-color: rgb(237, 153, 153);
  border: solid 3px red;
  width: 300px;
  height: 30px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 20px;
}
