.pokemon__list {
  display: flex;
  flex-wrap: wrap;
}
.pokemon__item {
  background-color: rgb(255, 194, 194);
  border: solid 3px red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 10px;
}
